.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';
@import 'https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700';

body {
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Nunito Sans', sans-serif;
  /*background: #fafafa;*/
  background-color: #f5f9fc;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 400px;
  max-width: 400px;
  background: #566cd6;
  color: #40415e;
  margin-left: -398px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #566cd6;
  color: #40415e;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.collapse.show,
.collapsing {
  background: #566cd6;
}

.nav-item {
  /*color: #ced4da;*/
  color: #adb5bd;
  font-weight: 300;
}

.nav-item.open {
  color: #e9ecef;
  background: #566cd6;
}

.nav-item:hover {
  background: #566cd6;
  color: #fff;
  transition: 0.2s;
}

.nav-item .svg-inline--fa {
  color: inherit;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > button {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
}

@media only screen and (max-width: 575.98px) {
  body {
    overflow: hidden;
  }

  .content.is-open {
    /*margin-left: 100%;*/
    display: none;
    transition: all 0.5s;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    height: 100vh !important;
  }

  .sidebar.is-open > .sidebar-header button {
    display: block;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}

@media only screen and (max-width: 1080px) {
  .btnSearch {
    margin-top: 0px;
    margin-left: -81px;
  }
  .content {
    width: 72% !important;
  }
  .arrowLeft {
    width: 15% !important;
  }
}

@media only screen and (max-width: 376px) {
  .btnSearch {
    margin-top: -46px !important;
    margin-left: 162px !important;
  }
  .content {
    width: 100% !important;
    margin-left: -6% !important;
    margin-top: 0% !important;
  }
  .cardGroup {
    width: 100% !important;
  }
  .pokemonName {
    font-size: 38px !important;
  }
  .grass,
  .fire,
  .electric,
  .poison {
    width: 22%;
  }
}

.rowLogo {
  margin-left: 90px;
  margin-top: 22px;
}

.logo {
  width: 200px;
}

.rowAvatar {
  margin-left: 90px;
  margin-top: 22px;
}

.avatar {
  width: 201px;
}

h4,
h6 {
  font-weight: bold;
}

h6,
.text {
  color: #c8d0f1;
}

.logout {
  width: 80%;
  background-color: #7789df !important;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
}

.logoutImage {
  margin-left: 16px;
  position: absolute;
  margin-top: 15px;
}

.rowLogout {
  margin-top: 88%;
}

.arrowLeft {
  background-color: #566cd6 !important;
  border-radius: 17px !important;
  width: 5%;
  border: none;
}

.btnSearch {
  position: absolute;
  margin-top: -1px;
  margin-left: -81px;
  border-radius: 17px !important;
  background-color: #566cd6 !important;
}

.formSearch {
  margin-left: 20%;
  width: 100%;
}

.inputSearch {
  border-radius: 17px !important;
  border-style: solid;
  border-color: #9eaaea !important;
}

.cardGroup {
  width: 25%;
}

.cardGroupDefault {
  width: 33%;
  float: left;
}

.card {
  min-width: 30% !important;
  border-radius: 16px;
  box-shadow: blue 0.5;
}

.content {
  margin-left: 26%;
  margin-top: -36%;
  width: 50%;
  height: 70%;
}

.pokemonName {
  font-size: 50px;
  font-weight: bold;
}

.front {
  width: 39%;
}

.back {
  width: 39%;
}

.divImages {
  display: flex;
  justify-content: center;
}

.grass {
  background-color: #64a30a;
  width: 15%;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  color: #fff;
}

.fire {
  background-color: #f39d40;
  width: 15%;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  color: #fff;
}

.electric {
  background-color: aqua;
  width: 15%;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  color: #fff;
}

.poison {
  background-color: #9267af;
  width: 15%;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  color: #fff;
  margin-left: 15px;
}

.pokemonNumber {
  font-size: 32px;
  font-weight: bold;
}

.cardDescription {
  padding: 25px;
}

.divTypes {
  display: block ruby;
}
